<%= form_with(url: application.new_record? ? organisation_job_applications_path : organisation_job_application_path, model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %><br />
  <%= form.text_field :name %>
  <br />
  <%= form.label :email %><br />
  <%= form.email_field :email %>
  <br />
  <%= form.label :description %><br />
  <%= form.text_area :description %>

  <% @job.fields["entries"].each do |entry| %>
    <br />
    <% if entry["type"] == "text" %>
      <%= form.label entry["name"] %><br />
      <%= form.text_area entry["name"], :value => application.extra_fields[entry["name"]] %>
    <% elsif entry["type"] == "numeric" %>
      <%= form.label entry["name"] %><br />
      <%= form.number_field entry["name"], :value => application.extra_fields[entry["name"]] %>
    <% elsif entry["type"] == "date" %>
      <%= form.label entry["name"] %><br />
      <%= form.date_field entry["name"], :value => application.extra_fields[entry["name"]] %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>