<div class="overimage small">
  <div class="container">
    <h2><%= @job.name+" applications" %></h2>
  </div>
</div>
<div class="container">
  <%= form_tag organisation_job_applications_path(@organisation, @job), method: :get, class: "form-inline", style: "margin-bottom: 10px;" do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search applicants..." %>
      <span class="input-group-btn">
        <%= submit_tag 'Search', class: 'btn btn-default' %>
        <% if params[:query] %>
          <%= link_to "Clear", organisation_job_applications_path(@organisation, @job), class: "btn btn-default" %>
        <% end %> 
      </span>
    </div>
  <% end %>
  <%= form_with(url: organisation_job_mail_multiple_path(@organisation, @job), local: true) do |form| %>
    <table class="table table-bordered table-hover table-striped applicants-table">
      <thead>
        <tr>
          <th colspan="4">
            <span class="pull-left">
              <%= @job.applications.count %> applications
            </span>
            <span class="pull-right">
              <span>Filter By: </span>
              <span class="dropdown">
                <a href="#" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to "Applied", organisation_job_applications_path(:filter => "status", :status => "Applied") %></li>
                  <li><%= link_to "Shortlisted", organisation_job_applications_path(:filter => "status", :status => "Shortlisted") %></li>
                  <li><%= link_to "Rejected", organisation_job_applications_path(:filter => "status", :status => "Rejected") %></li>
                  <li><%= link_to "Hired", organisation_job_applications_path(:filter => "status", :status => "Hired") %></li>
                  <li><%= link_to "Moved In", organisation_job_applications_path(:filter => "status", :status => "Moved In") %></li>
                  <li><%= link_to "Moved Out", organisation_job_applications_path(:filter => "status", :status => "Moved Out") %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "No Filters", organisation_job_applications_path %></li>
                </ul>
              </span>
            </span>
          </th>
        </tr>
        <tr>
          <th><%= form.check_box "applications", {:multiple => true, :onchange => "all_applications_checked(this.checked)"}, "all_1", "all_0" %></th>
          <th>Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><%= form.check_box "applications", {:multiple => true, :class => "applicant_checkbox", :onchange => "application_checked(this.checked)"}, application.id.to_s+"_1", application.id.to_s+"_0" %></td>
            <td><%= application.name %></td>
            <td><%= application.status %></td>
            <td><%= link_to 'Show', organisation_job_application_path(@organisation, @job, application), class: "btn btn-link btn-xs" %></td>
          </tr>
        <% end %>
        <tr>
        <td colspan="4">
          <%= link_to new_organisation_job_application_path, class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>New Application</span>
          <% end %>
          <button type="button" class="btn btn-info btn-xs" id="mesage_send_modal_button" data-toggle="modal" data-target="#mesage_send_modal">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span>Send Message to Selected</span>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Table Pagination">
      <ul class="pager">
        <% if @page && @page > 1 %>
          <li class="previous">
            <a href="<%= @cur_url %>?page=<%= @page - 1 %><%= params[:query] ? '&utf8=✓&query='+params[:query] : '' %>">&lt;&lt; Page <%= @page - 1 %></a>
          </li>
        <% end %>
        <% if @show_more %>
          <li class="previous">
            <a href="<%= @cur_url %>?page=<%= @page + 1 %><%= params[:query] ? '&utf8=✓&query='+params[:query] : '' %>">Page <%= @page + 1 %> &gt;&gt;</a>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="modal fade" id="mesage_send_modal" tabindex="-1" role="dialog" aria-labelledby="mesage_send_modal_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="mesage_send_modal_label">Send to selected applicants</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= form.hidden_field :content, :id => "application_messages_appl_content_box" %>
              <trix-editor class="form-control" input="application_messages_appl_content_box" id="application_messages_appl_content_box_editor"></trix-editor>
            </div>
            <div class="form-group form-inline">
              <label class="control-label">Use Template</label>
              <select class="form-control" onchange="fill_applicant_message_box(this.value)">
                <option value="None">None</option>
                <% @organisation.templates.each do |template| %>
                  <option value=<%= template.name %>><%= template.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= form.submit "Send", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
</div>

<script>
var is_messages_selected = false;

function update_msg_button() {
  var the_button = document.getElementById("mesage_send_modal_button");
  if(is_messages_selected) {
    if(the_button.className === "btn btn-info btn-xs hidden") {
      the_button.className = "btn btn-info btn-xs";
    }
  }
  else {
    if(the_button.className === "btn btn-info btn-xs") {
      the_button.className = "btn btn-info btn-xs hidden";
    }
  }
}

function load_initial_selection() {
  var checks = document.getElementsByClassName("applicant_checkbox");
  Array.prototype.forEach.call(checks, function(element) {
    if((!is_messages_selected) && element.checked) {
      is_messages_selected = true;
    }
  });
  update_msg_button();
}

function application_checked(is_checked) {
  var checks = document.getElementsByClassName("applicant_checkbox");
  var got_any_checked = false;
  if(is_checked) {
    if(!is_messages_selected) {
      is_messages_selected = true;
    }
  }
  else {
    got_any_checked = false;
    Array.prototype.forEach.call(checks, function(element) {
      if((!got_any_checked) && element.checked) {
        got_any_checked = true;
      }
    });
    if((!got_any_checked) && is_messages_selected) {
      is_messages_selected = false;
    }
  }
  update_msg_button();
}

function all_applications_checked(is_checked) {
  if(is_checked) {
    var checks = document.getElementsByClassName("applicant_checkbox");
    Array.prototype.forEach.call(checks, function(element) {
      element.checked = true;
      is_messages_selected = true;
    });
  }
  else {
    var checks = document.getElementsByClassName("applicant_checkbox");
    Array.prototype.forEach.call(checks, function(element) {
      element.checked = false;
      is_messages_selected = false;
    });
  }
  update_msg_button();
}

load_initial_selection();
</script>