<h2><%= @job.name %></h2>
<h3><%= @organisation.name %></h3>
<h3><%= @application.name %></h3>
<p><%= @application.email %></p>
<% @application.extra_applicant_emails.each do |email| %>
  <% if email.is_greyed %>
    <p><strike><%= email.email %></strike></p>
    <%= link_to "restore", organisation_job_application_extra_applicant_emails_ungrey_path(@organisation, @job, @application, email), method: "post" %>
  <% else %>
    <p><%= email.email %></p>
    <%= link_to "delete", organisation_job_application_extra_applicant_emails_grey_path(@organisation, @job, @application, email), method: "post" %>
  <% end %>
<% end %>


<h6>Add another email</h6>
<%= form_with(url: organisation_job_application_extra_applicant_emails_path(@organisation, @job, @application), model: @extra_applicant_email, local: true) do |form| %>
  <% if @extra_applicant_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra_applicant_email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @extra_applicant_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.email_field :email %>

  <%= form.submit %>
<% end %>


<p><%= @application.description %></p>
<% @application.extra_fields.keys.each do |keyval| %>
  <p><span style="font-weight: 600;"><%= keyval+": " %></span><%= @application.extra_fields[keyval] %></p>
<% end %>


<h5>Conversation</h5>
<% @applicant_messages.each do |msg| %>
	<div class="trix-content"><%= msg.content.html_safe %></div>
<% end %>

<h5>Send a message</h5>

<h6>Send to applicant</h6>
<%= form_with(url: organisation_job_application_applicant_messages_to_applicant_path(@organisation, @job, @application), model: @applicant_message, local: true) do |form| %>
  <% if @applicant_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant_message.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
      <% @applicant_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :content, :id => "application_messages_appl_content_box" %>
  <trix-editor input="application_messages_appl_content_box" id="application_messages_appl_content_box_editor"></trix-editor>

  <div class="actions">
    <%= form.submit %>
    <select onchange="fill_applicant_message_box(this.value)">
      <option value="None">None</option>
      <% @organisation.templates.each do |template| %>
        <option value=<%= template.name %>><%= template.name %></option>
      <% end %>
    </select>
  </div>
<% end %>

<h6>Send to collaborators</h6>
<%= form_with(url: organisation_job_application_applicant_messages_to_collaborators_path(@organisation, @job, @application), model: @applicant_message, local: true) do |form| %>
  <% if @applicant_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant_message.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
      <% @applicant_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :content, :id => "application_messages_coll_content_box" %>
  <trix-editor input="application_messages_coll_content_box" id="application_messages_coll_content_box_editor"></trix-editor>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h6>Save a template</h6>
<%= form_with(url: organisation_job_application_templates_path(@organisation, @job, @application), model: @template, local: true) do |form| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %><br />
  <%= form.text_field :name %>

  <%= form.hidden_field :content, :id => "template_content_box" %>
  <trix-editor input="template_content_box" id="template_content_box_editor"></trix-editor>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if @application.status != "Moved Out" %>
  <h5>Status: <%= @application.status %></h5>
  <% ["Shortlisted", "Applied", "Rejected", "Hired"].delete_if{|i|i==@application.status}.each do |status| %>
    <%= link_to status, organisation_job_application_change_status_path(@organisation, @job, @application, status: status), method: :post %>
  <% end %>

  <h6>Move application</h6>
  <%= form_with(url: organisation_job_application_move_application_path(@organisation, @job, @application), local: true) do |form| %>
    <%= form.select :new_job_id, @organisation.jobs.where.not(id: @job.id).collect { |p| [ p.name, p.id ] } %>
    <%= form.submit %>
  <% end %>
<% end %>

<script>
function fill_applicant_message_box(value) {
  var templates_mapping = {
    <% @organisation.templates.each do |template| %>
      "<%= template.name %>": "<%= template.content.html_safe %>",
    <% end %>
    "None":""
  }
  document.getElementById("application_messages_appl_content_box_editor").editor.loadHTML(templates_mapping[value]);
}
</script>