<%= form_with(model: organisation, local: true) do |form| %>
  <% if organisation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h4>
      <div class="alert alert-danger">
        <ul>
          <% organisation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, class: "control-label" %><br />
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :description, class: "control-label" %><br />
    <%= form.hidden_field :description, :id => "organisation_description_box" %>
    <trix-editor input="organisation_description_box"></trix-editor>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>