Your application at <strong><%= @job.organisation.name %></strong> for position <strong><%= @job.name %></strong> has been moved to  <strong><%= @new_job.name %></strong>.
<br>
You can reply to this email directly at <strong><%= @reply_mail %></strong> to contact recruiters of this new position and express your response.
<br>
<a href="<%= @job_url %>">View job</a>