An application from <strong><%= @application.name %></strong> for your job <strong><%= @job.name %></strong> has been moved to a new job <strong><%= @new_job.name %></strong> by <%= @changer.name %>.
<br>
You can reply to this mail directly at <strong><%= @reply_mail %></strong> and that message will be emailed to the other collaborators.
<br>
<a href="<%= @application_url %>">View application</a>
<br>
<a href="<%= @job_url %>">View job</a>