An application from <strong><%= @application.name %></strong> for job <strong><%= @old_job.name %></strong> has been moved to your job <strong><%= @job.name %></strong>.
<br>
You can reply to this mail directly at <strong><%= @reply_mail %></strong> and that message will be emailed to the applicant.
<br>
<a href="<%= @application_url %>">View application</a>
<br>
<a href="<%= @job_url %>">View job</a>