You have a message regarding job <strong><%= @job.name %></strong> for <strong><%= @job.organisation.name %></strong>:
<br>
A new message has been sent by applicant <strong><%= @application.name %></strong> :
<br>
<%= @message.content %>
<br>
<br>
<h4>Previous messages</h4>
<% @previous_messages.each do |msg| %>
<em><%= msg.from_applicant ? "Applicant" : msg.user.name %>: </em><%= msg.content.html_safe %>
<br>
<% end %>
You can reply to this email directly at <strong><%= @reply_mail %></strong> to send a message to the applicant.
<br>
<a href="<%= @application_url %>">View application</a>
<br>
<a href="<%= @job_url %>">View job</a>