<%= @old_coll.id == @coll.id ? "You have" : @old_coll.name+" has" %> been removed as a collaborator from job <strong><%= @job.name %></strong> for <%= @job.organisation.name %>.
<br>
<%= @old_coll == @coll ? "You " : @old_coll.name %> can now not participate in conversations regarding any applicant to this job and neither can parrticipate in hiring process.
<br>
<a href="<%= @job_url %>">View job</a>