The status of your application at <strong><%= @job.organisation.name %></strong> for position <strong><%= @job.name %></strong> has been changed to: <strong><%= @application.status %></strong>.
<br>
You can reply to this email directly at <strong><%= @reply_mail %></strong> to contact recruiters.
<br>
<a href="<%= @job_url %>">View job</a>